@model List<Message>
@using System.Security.Claims

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        Enter User :  <input id="userName" class="form-control w-25" type="text" /><br />
        Enter Message : <input id="msg" class="form-control w-25" type="text" /><br />
                                                                                <ul>

                                                                                    @foreach (var item in Model)
                                                                                    {

                                                                                        var myId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
                                                                                        if (item.RecId == myId)
                                                                                        {
                                                                                            <li class="bg-primary">@item.Text</li>
         }
                else
                {
                    <li class="bg-success">@item.Text</li>
                }
                                                                                    }
                                                                                </ul>
        <button class="btn btn-success" id="sendBtn">Send</button>
    </div>
    <div>
        <button id="getOnlineUsers">Get Online Users</button>
    </div>
</div>

<div>
    <ul id="msgs">
        
    </ul>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}