@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-success" id="sendBtn">Send</button>
</div>

<div>
    <ul id="msgs">
        
    </ul>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}