@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        Enter User :  <input id="userName" class="form-control w-25" type="text" /><br />
        Enter Message : <input id="msg" class="form-control w-25" type="text" /><br />

        <button class="btn btn-success" id="sendBtn">Send</button>
    </div>
    <div>
        <button id="getOnlineUsers">Get Online Users</button>
    </div>
</div>

<div>
    <ul id="msgs">
        
    </ul>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}